body {
  margin-bottom: 20%
}

.my-card {
  border: none;
  text-align: center;
}

.profile-img {
  max-width: 65%;
  height: auto;
}

.my-flex-box {
  display: flex;
  justify-content: space-between;
}